{% extends 'base.html' %}

{% load static %}


{% block title %}География{% endblock %}


{% block body %}
    <div class="lead mb-4 pb-5 border-bottom">
        <h1 class="mt-5 mb-4">География</h1>
        <p>
            Здесь собрана статистика IT вакансий по городам из HeadHunter.
        </p>
    </div>

    <div class="d-flex justify-content-center gap-2 mb-5">
        <button class="btn btn-primary plots-btn" style="width: 150px !important;">Графики</button>
        <button class="btn btn-secondary table-btn" style="width: 150px !important;">Таблица</button>
    </div>
    <h2 class="mb-5 text-center">Статистика по городам</h2>

    <div class="plots-div">
        <div class="row mb-4">
            <div class="w-50 d-flex flex-column justify-content-between text-center">
                <h3 class="mb-4">Уровень зарплат по городам в IT, ₽</h3>
                <img src="{% static "plots/salary_by_area.png" %}" alt="Зарплата по годам" class="w-100">
            </div>
            <div class="w-50 d-flex flex-column justify-content-between text-center">
                <h3 class="mb-4">Доля вакансий по городам, первые 10</h3>
                <img src="{% static "plots/fraction_by_area.png" %}"
                     alt="Зарплата по годам для iOS-разработчика" class="w-100">
            </div>
        </div>
    </div>

    <div class="table-div d-none d-flex justify-content-between">
        <table class="table table-striped text-center" style="width: 45%">
            <tr>
                <th>Город</th>
                <th>Средняя зарплата в городе, ₽</th>
            </tr>
            {% for d in salary %}
                {% if d.salary != 0 %}
                    <tr>
                        <td>{{ d.area_name }}</td>
                        <td>{{ d.salary }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <table class="table table-striped text-center" style="width: 45%">
            <tr>
                <th>Город</th>
                <th class="w-50">Доля вакансий в городе</th>
            </tr>
            {% for d in fraction %}
                {% if d.fraction != 0 %}
                    <tr>
                        <td>{{ d.area_name }}</td>
                        <td>{{ d.fraction }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <script src="{% static "/scripts/change_plots_tables.js" %}"></script>
{% endblock %}