{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 pb-5 d-flex flex-wrap lead">
        <div class="me-auto w-50 mt-5">
            <h1 class="mt-5" style="font-size: 70px !important; font-weight: 400 !important;">
                Профессия iOS-разработчик
            </h1>
            <p class="pt-4" style="font-size: 26px !important;">
                iOS-разработчик создаёт приложения для гаджетов экосистемы Apple — онлайн-банки, навигаторы, игры,
                фитнес-трекеры и другие полезные сервисы. Из-за особенностей устройств Apple
                и их операционной системы для них пишут специальный код.
            </p>
        </div>
        <img src="{% static "images/promo.png" %}" alt="Промо фото" class="w-50 d-block">
    </div>
    <div class="ms-auto me-auto pt-5 mb-5 d-flex flex-wrap lead" style="width: 90% !important;">
        <div class="ms-auto mr-3 mt-2 order-2" style="width: 65% !important;">
            <h2 class="text-end mt-4">Язык программирования</h2>
            <p class="text-end pt-1" style="font-size: 26px !important;">
                Самый распрастраненный язык, на котором пишут код iOS-разработчики — <b>Swift</b>.
                Компания Apple разработала его специально для своих устройств
                в 2014 году на замену языка Objective-C, который тогда использовался.
                Swift более быстрый, простой и устойчивый к ошибкам.
            </p>
        </div>
        <img src="{% static "images/swift-logo.png" %}" alt="логотип swift"
             class="w-25 mt-0 d-block me-auto align-self-center">
    </div>
    <div class="ms-auto me-auto pt-5 mt-5 mb-5 d-flex flex-wrap lead" >
        <div class="w-75 mt-2">
            <h2 class="mt-4">Обязанности</h2>
            <p class="pt-1" style="font-size: 26px !important;">
                iOS-разработчик – это призвание, ведь только талантливые и упорные люди смогут добиться успеха, работая
                в этом направлении. Разработчики тратят много времени на самообразование, постоянно отслеживают
                тенденции рынка и настроение потенциальных покупателей. Важны увлеченность и адекватная оценка своих
                способностей.
            </p>
            <h2 class="mt-4 mb-4">Программист для iOS занимается:</h2>
            <ul style="font-size: 26px !important;">
                <li>созданием программного обеспечения и обновлений для устройств, работающих на мобильной ОС iOS</li>
                <li>написанием технической документации для созданных программных продуктов</li>
                <li>отладкой и тестированием приложений для устройств Apple</li>
                <li>загрузкой программных продуктов в App Store</li>
                <li>решением спорных вопросов, связанных с загрузкой ПО в App Store</li>
                <li>отладкой приложения по результатам оценок пользователей (добавление новых функций, внесение мелких
                    правок и т. д.)
                </li>
            </ul>
            <h2 class="mt-4 mb-4"> Как стать разработчиком для iOS</h2>
            <ul style="font-size: 26px !important;">
                <li>Утвердиться в мысли, что хочется заниматься разработкой именно для iOS</li>
                <li>В идеале пойти учиться в вуз на специальности, связанные с программированием</li>
                <li>Запасные варианты – самостоятельная учеба по книгам, статьям, видеороликам / курсы</li>
                <li>Разработать приложение хотя бы для собственного пользования</li>
                <li>Выложить его на AppStore</li>
                <li>Постараться попасть в профессиональную команду – для этого ходить на собеседования везде, куда
                    приглашают
                </li>
                <li>Если отказывают, запоминать требования, подтягивать знания, прокачивать навыки</li>
            </ul>
        </div>
        <!-- <img src="{% static "images/" %}" alt="" class="w-25 mt-0 d-block me-auto align-self-center"> -->
    </div>


{% endblock %}